<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>MoveIt!&nbsp; – A simple touchfor a big move</title>
</head>

<body bgcolor="#F39C12">

<h2>MoveIt!</h2>
<h3>Isilah form dibawah ini</h3>
<p>untuk data-data pengiriman:</p>
<input type="text" name="" email="" user_id="" jenis_barang="" Lokasi_Pickup="" Lokasi_Tujuan="" >
<input type="number" berat_barang="">
<p>&nbsp;</p>
<p>Jika anda kesulitan untuk mengoperasikan page order ini, silahkan kontak CS kami </p>

</body>

</html>